@import '../../styles/variables';

/**
 Use :host to apply some style to your entire component
 */
:host {
  color: $white;
}

.header {
  background: $linearGradient;
  padding: 1em;
  justify-content: space-between; /* Add space between the links */
  align-items: center;
 
}
