.content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start; // Aligne les conteneurs en haut
}

.forms-container,
.lists-container {
  width: 45%;
  margin-bottom: 20px; // Ajoute un espace entre les conteneurs
}
.links {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px; /* Ajustez selon vos besoins */
}